html,body{
    height: 100%;
    margin: 0;
}
.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
}

.header,.footer{
    flex:0 0 100px;
    background-color: antiquewhite;
}

.content{
    flex:1 1 auto;
    display: flex;
    flex-flow: row nowrap;
}

.wrap1,.wrap3{
    flex:0 0 10%;
    background-color: cadetblue;
}

.wrap2{
    flex:1 1 auto;
    background-color: beige;
}